body {
  color: #494949;
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sidebar-nav > .nav {
  background: #3a4a6a;
  padding: 0;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar-nav > .nav > li > a {
  padding: 10px 15px;
  color: #d6deea;
}

.dl-horizontal dt {
  text-align: left; 
}

.avatar {
  margin-right: 20px;
}

.navbar-inverse {
  background-color: #3a4a6a;
  border: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #d6deea;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #25282E;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: #2B3549;
}